body{
  max-width: 1440px;
}

header{
  padding: 0 !important;
}

main{
  padding: 0 !important;
}

.navbar {
  background-color: #888888;
  color: white;
  height: 75%;
  max-width: 1440px;
}

.logo img{
  width: 177px;
  border-radius: 5%;
  filter: invert(100%);
}

.logo img:hover{
  cursor: pointer;
  background-color: white;
}

.navbar button {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.navbar button i{
  padding-right: 10px;
}

.navbar div {
  border: none !important; 
}

main {
  margin-top: 100px;
}

.v-cont {
  background: rgb(211,82,102);
  background: linear-gradient(0deg, rgba(211,82,102,1) 71%, rgba(136,136,136,1) 100%);
}

.v-cont label:hover{
  cursor: pointer;
}

.v-cont input:hover{
  cursor: pointer;
}

.content-left {
  color: white;
  padding-left: 15px;
  width: auto;
  float: left;
}

.category{
  color: white;
}

.dots > * {
  list-style-type: none;
  cursor: pointer;
}

.dots  ul > *:hover{
  font-weight: bold;
}

.price-point div:hover{
  cursor: pointer;
}

.price-point div input:hover{
  cursor: pointer;
}

.logo-side img {
  display: block;
  margin: auto;
  width: 60%;
  filter: grayscale(); 
}

.cont-rigth > div{
  height: 200px;
}

main section  {
  margin-right: 0;
  padding-right: 0;
  
}

.grad{
  background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 87%, rgba(136,136,136,1) 100%);
}

main section div div img{
  height: 200px;
}

main section div div h5{
  font-size: 16px;
}

main section div div p{
  font-size: 12px;
}

main section div div small{
  font-size: 10px;
}

.social > li {
  border-radius: 20%;
  border: 1px solid #888888;
}
.social > li:hover {
  background-color: #D35266;
  color: white;
}

.img-cont-fot img{
  height: 150px;
  width: 150px;
  display: block;
  margin: auto;
  filter: grayscale();
}

.img-modal img {
  width: 100%;
}

@media only screen and (max-width: 1024px) {
  main section div div img{
    height: 150px;
  }
  main section div div h5{
    font-size: 12px;
  }
  
  main section div div p{
    font-size: 10px;
  }
  .price-point {
    margin: 0 !important;
    padding: 0 !important;
  }
  .category {
    margin-left: 30px !important;
    padding: 0 !important;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    height: 120px;
    margin: 0;
    padding: 0;
  }
  .logo img{
    width: 130px;
    display: none;
  }

  .logo{
    padding: 30px;
    margin: 0;
    background-image: url(https://assets.coingecko.com/markets/images/172/large/abcc.png?1546228821);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(); 
    cursor: pointer;
  }

  .phone-v {
    display: inline-flex;
  }
  .phone-v > div{
    width: auto!important;
    padding: 0;
    margin: 0;
  }
  .phone-v div > span {
    display: none;
  }
  .phone-v button span {
    display: none;
  }
  .phone-v div >i{
    font-size: 2rem;
  }
  .phone-v button {
    padding: 0;
    border: none;
  }

  .v-cont {
    background: #D35266 !important;
    width: 100% !important;
    height:100%;
  }

  .content-left {
    max-width: 100%;
    float: none;
  }

  .check-cont {
    display: none;
  }
  .category div ul{
    margin: 0 auto;
    text-align: center;
  }
  .category{
    max-width: 90%;
  }
  .category p {
    padding-bottom: 40px;
    text-align: center;
  }
  .grad {
    margin: 0 auto;
    max-width: 100%;
  }
  main section div div img{
    height: 400px;
  }
  .grad div{
  display: block;
  margin: o auto;
  }
}

/* search */

.search-b {
  background-color: #D35266;
}

.car {
  
 height: 600px;
}

.car h3 {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.car p {
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}