.navbar {
  background-color: #888888;
  color: white;
  height: 75%;
}

.logo img{
  width: 177px;
  border-radius: 5%;
  filter: invert(100%);
}

.logo img:hover{
  cursor: pointer;
  background-color: white;
}

.navbar button {
  display: flex;
  font-size: 15px;
  align-items: center;
}

.navbar button i{
  padding-right: 10px;
}

.navbar div {
  border: none !important; 
}

main {
  margin-top: 100px;
}

.v-cont {
  background: rgb(211,82,102);
  background: linear-gradient(0deg, rgba(211,82,102,1) 71%, rgba(136,136,136,1) 100%);
}

.content-left {
  color: white;
  padding-left: 15px;
  width: auto;
  float: left;
}

.category{
  color: white;
}

.dots > * {
  list-style-type: none;
}

.logo-side img {
  margin-left: 15%;
  width: 60%;
  filter: grayscale(); 
}

.cont-rigth > div{
  height: 200px;
}

main section  {
  margin-right: 0;
  padding-right: 0;
}

.social > li {
  border-radius: 20%;
  border: 1px solid #888888;
}
.social > li:hover {
  background-color: #D35266;
  color: white;
}